@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/wintry";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

html {
    overscroll-behavior-y: contain;
}

body {
    height: 100dvh;
    overflow: hidden;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

button:focus,
a:focus {
    outline: none !important;
    box-shadow: none !important;
}
